<head>
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}'s Homepage</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="description" content="{{ site.title }}">
  <meta name="keywords" content="{{ site.keywords }}">

  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.title }}'s Homepage">
  <meta property="og:url" content="{{ site.canonical }}">
  <meta property="og:site_name" content="{{ site.title }}'s Homepage">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:locale" content="default">
  <meta property="og:image" content="{{ site.avatar }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ site.title }}'s Homepage">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="{{ site.avatar }}">

  <link rel="canonical" href="{{ site.canonical }}"/>
  <link rel="icon" media="(prefers-color-scheme:dark)" href="{{ site.favicon_dark }}" type="image/png" />
  <link rel="icon" media="(prefers-color-scheme:light)" href="{{ site.favicon }}" type="image/png" />

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css" integrity="sha256-uFVgMKfistnJAfoCUQigIl+JfUaP47GrRKjf6CTPVmw=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&family=Spectral:wght@400;500;600&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="stylesheet" href="./assets/css/publications.css">

  <!-- Scripts -->
  <script src="./assets/js/favicon-switcher.js" type="application/javascript"></script>
  <script src="./assets/js/theme-toggle.js"></script>
  <script src="./assets/js/arxiv-pagination.js"></script>
  <script src="./assets/js/pub-buttons.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-bibtex.min.js"></script>
</head>
